.cartNavbar {
    border: none;
    font-size: 32px;
    margin-left: 60px;
    margin-right: 18px;
    position: relative;
    padding: 8px;
    border-radius: 6px;
    width: 60px;
    height: 60px;
}

.cartNavbar:focus {
    outline: none;
}

.quantity {
    border-radius: 50%;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 600;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 4px;
    background-color: #007bff;
}