.ItemContainerQuantity {
    margin: 32px auto auto auto;
    width: 100%;
    justify-content: right;
    padding: 6px 12px;
    -webkit-box-align: center;
}

.counter {
    margin: auto;
    width: 100%;
    background-color: rgb(239, 239, 239);
    -webkit-box-align: center;
    margin-bottom: 4px;
    border-radius: 4px;
    padding: 8px;
    transition: color .15s;
}

.btn.btn-outline-secondary {
    width: auto;
}
.btn-group.btn-group-sm{
    margin: auto;
}
.itemQuantity {
    width: 24px;
}

.buttonQuantity{
    display: flex;
    justify-content: space-around;
    max-width: 180px;
}