.imgProduct{
    width: 160px;
    height: 160px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.imgProduct:hover{
    transform: scale(1.08);
    transition: transform .5s ease;
}

.productContent{
    border: 1px solid #d2cfcf;
    margin: auto;
    max-width: 180px;
    width: 100%;
    background-color: #f8f9fa;
}
.productContent a {
    color: #333;
    text-decoration: none;
}

.productName {
    display: block;
    font-size: 16px;
}

.productPrice {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: block;
}