.menu {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    width: auto;
}

.list {
    display: flex;
    text-decoration: underline;
}

.logo a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}